@charset "utf-8";
body,
html {
  height: 100%;
  margin: 0;
}

.navbar-brand {
  font-family: "Shojumaru", sans-serif;
}

.message-user {
  text-align: right;
  display: block;
  background-color: #007bff;
  color: white;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 15px 0px 15px 15px;
  clear: both;
  width: fit-content;
  max-width: 70%;
  float: right;
}

.message-bot {
  text-align: left;
  display: block;
  background-color: #e1e1e1;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 0px 15px 15px 15px;
  clear: both;
  width: fit-content;
  max-width: 70%;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.lyrics-container {
  overflow: hidden;
  height: 70px;
  position: relative;
  font-family: "Shojumaru", sans-serif;

  .lyrics {
    position: absolute;
    white-space: nowrap;
    font-size: 40px;
    color: white;
    padding: 5px 10px;
    animation: scrollLyrics 60s linear infinite;

    text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow,
      1px 1px 0 yellow;
  }
}

.col-9 {
  display: flex;
  flex-direction: column;
}

.chat-box {
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-body {
  max-height: calc(
    100vh - 150px
  ); /* ajustez la valeur soustraite si nécessaire */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  list-style-type: none;
  padding: 0;
}

@keyframes scrollLyrics {
  0% {
    transform: translateX(calc(100% + 1em));
  }
  100% {
    transform: translateX(calc(-100% - 1em));
  }
}
